Click on a PositivePost to be inspired!
<p style="border-bottom: 10px solid #ccc;"></p>
<% @positive_posts.each do |positive_post| %>
<h4><a href="/positive_posts/<%= positive_post.id %>"><%= positive_post.formatted_created_at %></a></h4>
<p>Title: <%= positive_post.title %>
<br>Text: <%= positive_post.text %><br>
<br>By: <a href="/users/<%= positive_post.user.id %>"><%= positive_post.user.full_name %></a> </p>
<p style="border-bottom: 10px solid #ccc;"></p>
<% end %>