<h1><p><%= @positive_post.user.full_name %>'s PositivePost</p> </h1>

<p>Created on: <%= @positive_post.formatted_created_at %> </p>
<p>Title: <%= @positive_post.title %></p>
<p>Text: <%= @positive_post.text %></p>

<% if authorized_to_edit?(@positive_post) %>
<a href="/positive_posts/<%= @positive_post.id %>/edit">Edit PositivePost</a>
<br><br>
<form class="" action="/positive_posts/<%= @positive_post.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Post">
    </form>
<br>

<% end %>

<% if @user != current_user %>
<a href="/users/<%= @positive_post.user.id %>"><%= @positive_post.user.full_name %>'s PositivePosts!</a> </p>
<% end %>